portaudio/.editorconfig
portaudio/.gitattributes
portaudio/.gitignore
portaudio/aclocal.m4
portaudio/clear_gitrevision.sh
portaudio/CMakeLists.txt
portaudio/config.guess
portaudio/config.sub
portaudio/configure
portaudio/configure.in
portaudio/depcomp
portaudio/Doxyfile
portaudio/Doxyfile.developer
portaudio/i686-w64-mingw32.cmake
portaudio/install-sh
portaudio/LICENSE.txt
portaudio/ltmain.sh
portaudio/Makefile.in
portaudio/missing
portaudio/portaudio-2.0.pc.in
portaudio/README.configure.txt
portaudio/README.md
portaudio/SConstruct
portaudio/update_gitrevision.sh
portaudio/.github/ISSUE_TEMPLATE/bug_report.md
portaudio/.github/workflows/c-cpp.yml
portaudio/.github/workflows/MSBuild.yml
portaudio/bindings/cpp/aclocal.m4
portaudio/bindings/cpp/AUTHORS
portaudio/bindings/cpp/ChangeLog
portaudio/bindings/cpp/configure
portaudio/bindings/cpp/configure.ac
portaudio/bindings/cpp/COPYING
portaudio/bindings/cpp/INSTALL
portaudio/bindings/cpp/Makefile.am
portaudio/bindings/cpp/Makefile.in
portaudio/bindings/cpp/NEWS
portaudio/bindings/cpp/portaudiocpp.pc.in
portaudio/bindings/cpp/README
portaudio/bindings/cpp/SConscript
portaudio/bindings/cpp/bin/Makefile.am
portaudio/bindings/cpp/bin/Makefile.in
portaudio/bindings/cpp/build/gnu/aclocal.m4
portaudio/bindings/cpp/build/gnu/config.guess
portaudio/bindings/cpp/build/gnu/config.sub
portaudio/bindings/cpp/build/gnu/configure
portaudio/bindings/cpp/build/gnu/configure.ac
portaudio/bindings/cpp/build/gnu/install-sh
portaudio/bindings/cpp/build/gnu/Makefile.in
portaudio/bindings/cpp/build/gnu/OUT_OF_DATE
portaudio/bindings/cpp/build/vc6/devs_example.dsp
portaudio/bindings/cpp/build/vc6/devs_example.dsw
portaudio/bindings/cpp/build/vc6/sine_example.dsp
portaudio/bindings/cpp/build/vc6/sine_example.dsw
portaudio/bindings/cpp/build/vc6/static_library.dsp
portaudio/bindings/cpp/build/vc6/static_library.dsw
portaudio/bindings/cpp/build/vc7/OUT_OF_DATE
portaudio/bindings/cpp/build/vc7_1/devs_example.sln
portaudio/bindings/cpp/build/vc7_1/devs_example.vcproj
portaudio/bindings/cpp/build/vc7_1/sine_example.sln
portaudio/bindings/cpp/build/vc7_1/sine_example.vcproj
portaudio/bindings/cpp/build/vc7_1/static_library.sln
portaudio/bindings/cpp/build/vc7_1/static_library.vcproj
portaudio/bindings/cpp/doc/config.doxy
portaudio/bindings/cpp/doc/config.doxy.linux
portaudio/bindings/cpp/doc/Makefile.am
portaudio/bindings/cpp/doc/Makefile.in
portaudio/bindings/cpp/doc/README
portaudio/bindings/cpp/example/devs.cxx
portaudio/bindings/cpp/example/sine.cxx
portaudio/bindings/cpp/include/Makefile.am
portaudio/bindings/cpp/include/Makefile.in
portaudio/bindings/cpp/include/portaudiocpp/AsioDeviceAdapter.hxx
portaudio/bindings/cpp/include/portaudiocpp/AutoSystem.hxx
portaudio/bindings/cpp/include/portaudiocpp/BlockingStream.hxx
portaudio/bindings/cpp/include/portaudiocpp/CallbackInterface.hxx
portaudio/bindings/cpp/include/portaudiocpp/CallbackStream.hxx
portaudio/bindings/cpp/include/portaudiocpp/CFunCallbackStream.hxx
portaudio/bindings/cpp/include/portaudiocpp/CppFunCallbackStream.hxx
portaudio/bindings/cpp/include/portaudiocpp/Device.hxx
portaudio/bindings/cpp/include/portaudiocpp/DirectionSpecificStreamParameters.hxx
portaudio/bindings/cpp/include/portaudiocpp/Exception.hxx
portaudio/bindings/cpp/include/portaudiocpp/HostApi.hxx
portaudio/bindings/cpp/include/portaudiocpp/InterfaceCallbackStream.hxx
portaudio/bindings/cpp/include/portaudiocpp/MemFunCallbackStream.hxx
portaudio/bindings/cpp/include/portaudiocpp/PortAudioCpp.hxx
portaudio/bindings/cpp/include/portaudiocpp/SampleDataFormat.hxx
portaudio/bindings/cpp/include/portaudiocpp/Stream.hxx
portaudio/bindings/cpp/include/portaudiocpp/StreamParameters.hxx
portaudio/bindings/cpp/include/portaudiocpp/System.hxx
portaudio/bindings/cpp/include/portaudiocpp/SystemDeviceIterator.hxx
portaudio/bindings/cpp/include/portaudiocpp/SystemHostApiIterator.hxx
portaudio/bindings/cpp/lib/Makefile.am
portaudio/bindings/cpp/lib/Makefile.in
portaudio/bindings/cpp/source/portaudiocpp/AsioDeviceAdapter.cxx
portaudio/bindings/cpp/source/portaudiocpp/BlockingStream.cxx
portaudio/bindings/cpp/source/portaudiocpp/CallbackInterface.cxx
portaudio/bindings/cpp/source/portaudiocpp/CallbackStream.cxx
portaudio/bindings/cpp/source/portaudiocpp/CFunCallbackStream.cxx
portaudio/bindings/cpp/source/portaudiocpp/CppFunCallbackStream.cxx
portaudio/bindings/cpp/source/portaudiocpp/Device.cxx
portaudio/bindings/cpp/source/portaudiocpp/DirectionSpecificStreamParameters.cxx
portaudio/bindings/cpp/source/portaudiocpp/Exception.cxx
portaudio/bindings/cpp/source/portaudiocpp/HostApi.cxx
portaudio/bindings/cpp/source/portaudiocpp/InterfaceCallbackStream.cxx
portaudio/bindings/cpp/source/portaudiocpp/MemFunCallbackStream.cxx
portaudio/bindings/cpp/source/portaudiocpp/Stream.cxx
portaudio/bindings/cpp/source/portaudiocpp/StreamParameters.cxx
portaudio/bindings/cpp/source/portaudiocpp/System.cxx
portaudio/bindings/cpp/source/portaudiocpp/SystemDeviceIterator.cxx
portaudio/bindings/cpp/source/portaudiocpp/SystemHostApiIterator.cxx
portaudio/bindings/java/jportaudio.dox
portaudio/bindings/java/c/build/vs2010/PortAudioJNI/PortAudioJNI.sln
portaudio/bindings/java/c/build/vs2010/PortAudioJNI/PortAudioJNI.vcproj
portaudio/bindings/java/c/build/vs2010/PortAudioJNI/PortAudioJNI.vcxproj
portaudio/bindings/java/c/src/com_portaudio_BlockingStream.c
portaudio/bindings/java/c/src/com_portaudio_BlockingStream.h
portaudio/bindings/java/c/src/com_portaudio_PortAudio.c
portaudio/bindings/java/c/src/com_portaudio_PortAudio.h
portaudio/bindings/java/c/src/jpa_tools.c
portaudio/bindings/java/c/src/jpa_tools.h
portaudio/bindings/java/jportaudio/.classpath
portaudio/bindings/java/jportaudio/.project
portaudio/bindings/java/jportaudio/jtests/com/portaudio/PlaySine.java
portaudio/bindings/java/jportaudio/jtests/com/portaudio/TestBasic.java
portaudio/bindings/java/jportaudio/src/com/portaudio/BlockingStream.java
portaudio/bindings/java/jportaudio/src/com/portaudio/DeviceInfo.java
portaudio/bindings/java/jportaudio/src/com/portaudio/HostApiInfo.java
portaudio/bindings/java/jportaudio/src/com/portaudio/PortAudio.java
portaudio/bindings/java/jportaudio/src/com/portaudio/StreamInfo.java
portaudio/bindings/java/jportaudio/src/com/portaudio/StreamParameters.java
portaudio/bindings/java/scripts/make_header.bat
portaudio/build/msvc/portaudio.def
portaudio/build/msvc/portaudio.dsp
portaudio/build/msvc/portaudio.dsw
portaudio/build/msvc/portaudio.sln
portaudio/build/msvc/portaudio.vcproj
portaudio/build/msvc/readme.txt
portaudio/build/scons/SConscript_common
portaudio/build/scons/SConscript_opts
portaudio/cmake_support/cmake_uninstall.cmake.in
portaudio/cmake_support/FindASIOSDK.cmake
portaudio/cmake_support/FindJack.cmake
portaudio/cmake_support/options_cmake.h.in
portaudio/cmake_support/portaudio-2.0.pc.in
portaudio/cmake_support/portaudioConfig.cmake.in
portaudio/cmake_support/template_portaudio.def
portaudio/doc/src/api_overview.dox
portaudio/doc/src/license.dox
portaudio/doc/src/mainpage.dox
portaudio/doc/src/srcguide.dox
portaudio/doc/src/images/portaudio-external-architecture-diagram.png
portaudio/doc/src/tutorial/blocking_read_write.dox
portaudio/doc/src/tutorial/compile_cmake.dox
portaudio/doc/src/tutorial/compile_linux.dox
portaudio/doc/src/tutorial/compile_mac_coreaudio.dox
portaudio/doc/src/tutorial/compile_windows_asio_msvc.dox
portaudio/doc/src/tutorial/compile_windows_mingw.dox
portaudio/doc/src/tutorial/compile_windows.dox
portaudio/doc/src/tutorial/exploring.dox
portaudio/doc/src/tutorial/initializing_portaudio.dox
portaudio/doc/src/tutorial/open_default_stream.dox
portaudio/doc/src/tutorial/querying_devices.dox
portaudio/doc/src/tutorial/start_stop_abort.dox
portaudio/doc/src/tutorial/terminating_portaudio.dox
portaudio/doc/src/tutorial/tutorial_start.dox
portaudio/doc/src/tutorial/utility_functions.dox
portaudio/doc/src/tutorial/writing_a_callback.dox
portaudio/doc/utils/checkfiledocs.py
portaudio/examples/CMakeLists.txt
portaudio/examples/pa_devs.c
portaudio/examples/pa_fuzz.c
portaudio/examples/paex_mono_asio_channel_select.c
portaudio/examples/paex_ocean_shore.c
portaudio/examples/paex_pink.c
portaudio/examples/paex_read_write_wire.c
portaudio/examples/paex_record_file.c
portaudio/examples/paex_record.c
portaudio/examples/paex_saw.c
portaudio/examples/paex_sine_c++.cpp
portaudio/examples/paex_sine.c
portaudio/examples/paex_wmme_ac3.c
portaudio/examples/paex_wmme_surround.c
portaudio/examples/paex_write_sine_nonint.c
portaudio/examples/paex_write_sine.c
portaudio/include/pa_asio.h
portaudio/include/pa_jack.h
portaudio/include/pa_linux_alsa.h
portaudio/include/pa_mac_core.h
portaudio/include/pa_win_ds.h
portaudio/include/pa_win_wasapi.h
portaudio/include/pa_win_waveformat.h
portaudio/include/pa_win_wdmks.h
portaudio/include/pa_win_wmme.h
portaudio/include/portaudio.h
portaudio/pablio/pablio.c
portaudio/pablio/pablio.def
portaudio/pablio/pablio.h
portaudio/pablio/README.txt
portaudio/pablio/test_rw_echo.c
portaudio/pablio/test_rw.c
portaudio/pablio/test_w_saw.c
portaudio/pablio/test_w_saw8.c
portaudio/qa/paqa_devs.c
portaudio/qa/paqa_errs.c
portaudio/qa/paqa_latency.c
portaudio/qa/loopback/README.txt
portaudio/qa/loopback/src/audio_analyzer.c
portaudio/qa/loopback/src/audio_analyzer.h
portaudio/qa/loopback/src/biquad_filter.c
portaudio/qa/loopback/src/biquad_filter.h
portaudio/qa/loopback/src/paqa_tools.c
portaudio/qa/loopback/src/paqa_tools.h
portaudio/qa/loopback/src/paqa.c
portaudio/qa/loopback/src/qa_tools.h
portaudio/qa/loopback/src/test_audio_analyzer.c
portaudio/qa/loopback/src/test_audio_analyzer.h
portaudio/qa/loopback/src/write_wav.c
portaudio/qa/loopback/src/write_wav.h
portaudio/src/SConscript
portaudio/src/common/pa_allocation.c
portaudio/src/common/pa_allocation.h
portaudio/src/common/pa_converters.c
portaudio/src/common/pa_converters.h
portaudio/src/common/pa_cpuload.c
portaudio/src/common/pa_cpuload.h
portaudio/src/common/pa_debugprint.c
portaudio/src/common/pa_debugprint.h
portaudio/src/common/pa_dither.c
portaudio/src/common/pa_dither.h
portaudio/src/common/pa_endianness.h
portaudio/src/common/pa_front.c
portaudio/src/common/pa_gitrevision.h
portaudio/src/common/pa_hostapi.h
portaudio/src/common/pa_memorybarrier.h
portaudio/src/common/pa_process.c
portaudio/src/common/pa_process.h
portaudio/src/common/pa_ringbuffer.c
portaudio/src/common/pa_ringbuffer.h
portaudio/src/common/pa_stream.c
portaudio/src/common/pa_stream.h
portaudio/src/common/pa_trace.c
portaudio/src/common/pa_trace.h
portaudio/src/common/pa_types.h
portaudio/src/common/pa_util.h
portaudio/src/hostapi/alsa/pa_linux_alsa.c
portaudio/src/hostapi/asihpi/pa_linux_asihpi.c
portaudio/src/hostapi/asio/ASIO-README.txt
portaudio/src/hostapi/asio/Callback_adaptation_.pdf
portaudio/src/hostapi/asio/iasiothiscallresolver.cpp
portaudio/src/hostapi/asio/iasiothiscallresolver.h
portaudio/src/hostapi/asio/pa_asio.cpp
portaudio/src/hostapi/asio/Pa_ASIO.pdf
portaudio/src/hostapi/coreaudio/notes.txt
portaudio/src/hostapi/coreaudio/pa_mac_core_blocking.c
portaudio/src/hostapi/coreaudio/pa_mac_core_blocking.h
portaudio/src/hostapi/coreaudio/pa_mac_core_internal.h
portaudio/src/hostapi/coreaudio/pa_mac_core_utilities.c
portaudio/src/hostapi/coreaudio/pa_mac_core_utilities.h
portaudio/src/hostapi/coreaudio/pa_mac_core.c
portaudio/src/hostapi/dsound/pa_win_ds_dynlink.c
portaudio/src/hostapi/dsound/pa_win_ds_dynlink.h
portaudio/src/hostapi/dsound/pa_win_ds.c
portaudio/src/hostapi/jack/pa_jack.c
portaudio/src/hostapi/oss/low_latency_tip.txt
portaudio/src/hostapi/oss/pa_unix_oss.c
portaudio/src/hostapi/oss/recplay.c
portaudio/src/hostapi/skeleton/pa_hostapi_skeleton.c
portaudio/src/hostapi/skeleton/README.txt
portaudio/src/hostapi/wasapi/pa_win_wasapi.c
portaudio/src/hostapi/wasapi/readme.txt
portaudio/src/hostapi/wasapi/mingw-include/audioclient.h
portaudio/src/hostapi/wasapi/mingw-include/AudioSessionTypes.h
portaudio/src/hostapi/wasapi/mingw-include/devicetopology.h
portaudio/src/hostapi/wasapi/mingw-include/endpointvolume.h
portaudio/src/hostapi/wasapi/mingw-include/functiondiscoverykeys_devpkey.h
portaudio/src/hostapi/wasapi/mingw-include/functiondiscoverykeys.h
portaudio/src/hostapi/wasapi/mingw-include/ks.h
portaudio/src/hostapi/wasapi/mingw-include/ksguid.h
portaudio/src/hostapi/wasapi/mingw-include/ksmedia.h
portaudio/src/hostapi/wasapi/mingw-include/ksproxy.h
portaudio/src/hostapi/wasapi/mingw-include/ksuuids.h
portaudio/src/hostapi/wasapi/mingw-include/mmdeviceapi.h
portaudio/src/hostapi/wasapi/mingw-include/PropIdl.h
portaudio/src/hostapi/wasapi/mingw-include/propkey.h
portaudio/src/hostapi/wasapi/mingw-include/propkeydef.h
portaudio/src/hostapi/wasapi/mingw-include/propsys.h
portaudio/src/hostapi/wasapi/mingw-include/rpcsal.h
portaudio/src/hostapi/wasapi/mingw-include/sal.h
portaudio/src/hostapi/wasapi/mingw-include/sdkddkver.h
portaudio/src/hostapi/wasapi/mingw-include/ShTypes.h
portaudio/src/hostapi/wasapi/mingw-include/structuredquery.h
portaudio/src/hostapi/wasapi/mingw-include/winapifamily.h
portaudio/src/hostapi/wdmks/pa_win_wdmks.c
portaudio/src/hostapi/wdmks/readme.txt
portaudio/src/hostapi/wmme/pa_win_wmme.c
portaudio/src/os/unix/pa_unix_hostapis.c
portaudio/src/os/unix/pa_unix_util.c
portaudio/src/os/unix/pa_unix_util.h
portaudio/src/os/win/pa_win_coinitialize.c
portaudio/src/os/win/pa_win_coinitialize.h
portaudio/src/os/win/pa_win_hostapis.c
portaudio/src/os/win/pa_win_util.c
portaudio/src/os/win/pa_win_waveformat.c
portaudio/src/os/win/pa_win_wdmks_utils.c
portaudio/src/os/win/pa_win_wdmks_utils.h
portaudio/src/os/win/pa_x86_plain_converters.c
portaudio/src/os/win/pa_x86_plain_converters.h
portaudio/test/CMakeLists.txt
portaudio/test/pa_minlat.c
portaudio/test/patest_buffer.c
portaudio/test/patest_callbackstop.c
portaudio/test/patest_clip.c
portaudio/test/patest_converters.c
portaudio/test/patest_dither.c
portaudio/test/patest_dsound_find_best_latency_params.c
portaudio/test/patest_dsound_low_level_latency_params.c
portaudio/test/patest_dsound_surround.c
portaudio/test/patest_hang.c
portaudio/test/patest_in_overflow.c
portaudio/test/patest_jack_wasapi.c
portaudio/test/patest_latency.c
portaudio/test/patest_leftright.c
portaudio/test/patest_longsine.c
portaudio/test/patest_many.c
portaudio/test/patest_maxsines.c
portaudio/test/patest_mono.c
portaudio/test/patest_multi_sine.c
portaudio/test/patest_out_underflow.c
portaudio/test/patest_prime.c
portaudio/test/patest_read_record.c
portaudio/test/patest_ringmix.c
portaudio/test/patest_sine_channelmaps.c
portaudio/test/patest_sine_formats.c
portaudio/test/patest_sine_srate.c
portaudio/test/patest_sine_time.c
portaudio/test/patest_sine8.c
portaudio/test/patest_start_stop.c
portaudio/test/patest_stop_playout.c
portaudio/test/patest_stop.c
portaudio/test/patest_suggested_vs_streaminfo_latency.c
portaudio/test/patest_suggested_vs_streaminfo_latency.py
portaudio/test/patest_sync.c
portaudio/test/patest_timing.c
portaudio/test/patest_toomanysines.c
portaudio/test/patest_two_rates.c
portaudio/test/patest_underflow.c
portaudio/test/patest_unplug.c
portaudio/test/patest_wire.c
portaudio/test/patest_wmme_find_best_latency_params.c
portaudio/test/patest_wmme_low_level_latency_params.c
portaudio/test/patest_write_stop_hang_illegal.c
portaudio/test/patest_write_stop.c
portaudio/test/patest1.c
portaudio/test/README.txt
build/01.mp3
build/01.wav
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/libportaudio.dll
build/Makefile
build/MP3Reader.exe
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-98405138919fc05ae67d.json
build/.cmake/api/v1/reply/cmakeFiles-v1-4d723721dcefb63fa066.json
build/.cmake/api/v1/reply/codemodel-v2-d4c6dcb2296b0c2d5873.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-portaudio-Debug-51a9005cf978f97d2b7d.json
build/.cmake/api/v1/reply/index-2024-06-19T17-27-57-0748.json
build/.cmake/api/v1/reply/target-MP3Reader-Debug-68176d214b4aa113c282.json
build/.cmake/api/v1/reply/target-portaudio_static-Debug-de8a743a7edc0ca2926f.json
build/.cmake/api/v1/reply/target-portaudio-Debug-8156ffeeb0316617c71c.json
build/.cmake/api/v1/reply/target-uninstall-Debug-1eb36865f737ed6f7a31.json
build/.cmake/api/v1/reply/toolchains-v1-ec238f2d59bb731eb4ec.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.23.1/CMakeCCompiler.cmake
build/CMakeFiles/3.23.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.23.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.23.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.23.1/CMakeRCCompiler.cmake
build/CMakeFiles/3.23.1/CMakeSystem.cmake
build/CMakeFiles/3.23.1/CompilerIdC/a.exe
build/CMakeFiles/3.23.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.23.1/CompilerIdCXX/a.exe
build/CMakeFiles/3.23.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/MP3Reader.dir/build.make
build/CMakeFiles/MP3Reader.dir/cmake_clean.cmake
build/CMakeFiles/MP3Reader.dir/compiler_depend.make
build/CMakeFiles/MP3Reader.dir/compiler_depend.ts
build/CMakeFiles/MP3Reader.dir/depend.make
build/CMakeFiles/MP3Reader.dir/DependInfo.cmake
build/CMakeFiles/MP3Reader.dir/flags.make
build/CMakeFiles/MP3Reader.dir/includes_CXX.rsp
build/CMakeFiles/MP3Reader.dir/link.txt
build/CMakeFiles/MP3Reader.dir/linklibs.rsp
build/CMakeFiles/MP3Reader.dir/main.cpp.obj
build/CMakeFiles/MP3Reader.dir/main.cpp.obj.d
build/CMakeFiles/MP3Reader.dir/MP3Decoder.cpp.obj
build/CMakeFiles/MP3Reader.dir/MP3Decoder.cpp.obj.d
build/CMakeFiles/MP3Reader.dir/MP3Stream.cpp.obj.d
build/CMakeFiles/MP3Reader.dir/objects.a
build/CMakeFiles/MP3Reader.dir/objects1.rsp
build/CMakeFiles/MP3Reader.dir/progress.make
build/cmake/portaudio/portaudioConfig.cmake
build/cmake/portaudio/portaudioConfigVersion.cmake
build/cmake/portaudio/portaudioTargets.cmake
build/portaudio/cmake_install.cmake
build/portaudio/cmake_uninstall.cmake
build/portaudio/libportaudio.dll
build/portaudio/libportaudio.dll.a
build/portaudio/Makefile
build/portaudio/options_cmake.h
build/portaudio/portaudio_cmake.def
build/portaudio/portaudio-2.0.pc
build/portaudio/CMakeFiles/CMakeDirectoryInformation.cmake
build/portaudio/CMakeFiles/progress.marks
build/portaudio/CMakeFiles/Export/lib/cmake/portaudio/portaudioTargets-debug.cmake
build/portaudio/CMakeFiles/Export/lib/cmake/portaudio/portaudioTargets-release.cmake
build/portaudio/CMakeFiles/Export/lib/cmake/portaudio/portaudioTargets.cmake
build/portaudio/CMakeFiles/portaudio.dir/build.make
build/portaudio/CMakeFiles/portaudio.dir/cmake_clean.cmake
build/portaudio/CMakeFiles/portaudio.dir/compiler_depend.make
build/portaudio/CMakeFiles/portaudio.dir/compiler_depend.ts
build/portaudio/CMakeFiles/portaudio.dir/depend.make
build/portaudio/CMakeFiles/portaudio.dir/DependInfo.cmake
build/portaudio/CMakeFiles/portaudio.dir/flags.make
build/portaudio/CMakeFiles/portaudio.dir/includes_C.rsp
build/portaudio/CMakeFiles/portaudio.dir/link.txt
build/portaudio/CMakeFiles/portaudio.dir/linklibs.rsp
build/portaudio/CMakeFiles/portaudio.dir/objects.a
build/portaudio/CMakeFiles/portaudio.dir/objects1.rsp
build/portaudio/CMakeFiles/portaudio.dir/progress.make
build/portaudio/CMakeFiles/portaudio.dir/src/common/pa_allocation.c.obj
build/portaudio/CMakeFiles/portaudio.dir/src/common/pa_allocation.c.obj.d
build/portaudio/CMakeFiles/portaudio.dir/src/common/pa_converters.c.obj
build/portaudio/CMakeFiles/portaudio.dir/src/common/pa_converters.c.obj.d
build/portaudio/CMakeFiles/portaudio.dir/src/common/pa_cpuload.c.obj
build/portaudio/CMakeFiles/portaudio.dir/src/common/pa_cpuload.c.obj.d
build/portaudio/CMakeFiles/portaudio.dir/src/common/pa_debugprint.c.obj
build/portaudio/CMakeFiles/portaudio.dir/src/common/pa_debugprint.c.obj.d
build/portaudio/CMakeFiles/portaudio.dir/src/common/pa_dither.c.obj
build/portaudio/CMakeFiles/portaudio.dir/src/common/pa_dither.c.obj.d
build/portaudio/CMakeFiles/portaudio.dir/src/common/pa_front.c.obj
build/portaudio/CMakeFiles/portaudio.dir/src/common/pa_front.c.obj.d
build/portaudio/CMakeFiles/portaudio.dir/src/common/pa_process.c.obj
build/portaudio/CMakeFiles/portaudio.dir/src/common/pa_process.c.obj.d
build/portaudio/CMakeFiles/portaudio.dir/src/common/pa_ringbuffer.c.obj
build/portaudio/CMakeFiles/portaudio.dir/src/common/pa_ringbuffer.c.obj.d
build/portaudio/CMakeFiles/portaudio.dir/src/common/pa_stream.c.obj
build/portaudio/CMakeFiles/portaudio.dir/src/common/pa_stream.c.obj.d
build/portaudio/CMakeFiles/portaudio.dir/src/common/pa_trace.c.obj
build/portaudio/CMakeFiles/portaudio.dir/src/common/pa_trace.c.obj.d
build/portaudio/CMakeFiles/portaudio.dir/src/hostapi/dsound/pa_win_ds_dynlink.c.obj
build/portaudio/CMakeFiles/portaudio.dir/src/hostapi/dsound/pa_win_ds_dynlink.c.obj.d
build/portaudio/CMakeFiles/portaudio.dir/src/hostapi/dsound/pa_win_ds.c.obj
build/portaudio/CMakeFiles/portaudio.dir/src/hostapi/dsound/pa_win_ds.c.obj.d
build/portaudio/CMakeFiles/portaudio.dir/src/hostapi/skeleton/pa_hostapi_skeleton.c.obj
build/portaudio/CMakeFiles/portaudio.dir/src/hostapi/skeleton/pa_hostapi_skeleton.c.obj.d
build/portaudio/CMakeFiles/portaudio.dir/src/hostapi/wasapi/pa_win_wasapi.c.obj
build/portaudio/CMakeFiles/portaudio.dir/src/hostapi/wasapi/pa_win_wasapi.c.obj.d
build/portaudio/CMakeFiles/portaudio.dir/src/hostapi/wdmks/pa_win_wdmks.c.obj
build/portaudio/CMakeFiles/portaudio.dir/src/hostapi/wdmks/pa_win_wdmks.c.obj.d
build/portaudio/CMakeFiles/portaudio.dir/src/hostapi/wmme/pa_win_wmme.c.obj
build/portaudio/CMakeFiles/portaudio.dir/src/hostapi/wmme/pa_win_wmme.c.obj.d
build/portaudio/CMakeFiles/portaudio.dir/src/os/win/pa_win_coinitialize.c.obj
build/portaudio/CMakeFiles/portaudio.dir/src/os/win/pa_win_coinitialize.c.obj.d
build/portaudio/CMakeFiles/portaudio.dir/src/os/win/pa_win_hostapis.c.obj
build/portaudio/CMakeFiles/portaudio.dir/src/os/win/pa_win_hostapis.c.obj.d
build/portaudio/CMakeFiles/portaudio.dir/src/os/win/pa_win_util.c.obj
build/portaudio/CMakeFiles/portaudio.dir/src/os/win/pa_win_util.c.obj.d
build/portaudio/CMakeFiles/portaudio.dir/src/os/win/pa_win_waveformat.c.obj
build/portaudio/CMakeFiles/portaudio.dir/src/os/win/pa_win_waveformat.c.obj.d
build/portaudio/CMakeFiles/portaudio.dir/src/os/win/pa_win_wdmks_utils.c.obj
build/portaudio/CMakeFiles/portaudio.dir/src/os/win/pa_win_wdmks_utils.c.obj.d
build/portaudio/CMakeFiles/portaudio_static.dir/build.make
build/portaudio/CMakeFiles/portaudio_static.dir/cmake_clean_target.cmake
build/portaudio/CMakeFiles/portaudio_static.dir/cmake_clean.cmake
build/portaudio/CMakeFiles/portaudio_static.dir/compiler_depend.make
build/portaudio/CMakeFiles/portaudio_static.dir/compiler_depend.ts
build/portaudio/CMakeFiles/portaudio_static.dir/depend.make
build/portaudio/CMakeFiles/portaudio_static.dir/DependInfo.cmake
build/portaudio/CMakeFiles/portaudio_static.dir/flags.make
build/portaudio/CMakeFiles/portaudio_static.dir/includes_C.rsp
build/portaudio/CMakeFiles/portaudio_static.dir/link.txt
build/portaudio/CMakeFiles/portaudio_static.dir/progress.make
build/portaudio/CMakeFiles/uninstall.dir/build.make
build/portaudio/CMakeFiles/uninstall.dir/cmake_clean.cmake
build/portaudio/CMakeFiles/uninstall.dir/compiler_depend.make
build/portaudio/CMakeFiles/uninstall.dir/compiler_depend.ts
build/portaudio/CMakeFiles/uninstall.dir/DependInfo.cmake
build/portaudio/CMakeFiles/uninstall.dir/progress.make
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
build/Mono_cbr.mp3
build/Stereo.mp3
build/.cmake/api/v1/reply/cache-v2-d611ce623ac49ac0230a.json
build/.cmake/api/v1/reply/cmakeFiles-v1-618e7ed1e7191c932afc.json
build/.cmake/api/v1/reply/codemodel-v2-b0d5734ac3d4675ec87a.json
build/.cmake/api/v1/reply/directory-MP3-Debug-5a5f179ee7e9229bddd0.json
build/.cmake/api/v1/reply/directory-portaudio-Debug-a5c8aa26724d82bd0dc6.json
build/.cmake/api/v1/reply/index-2024-07-05T19-02-33-0801.json
build/.cmake/api/v1/reply/target-MP3-Debug-852a25186277c2b38da1.json
build/.cmake/api/v1/reply/target-MP3Reader-Debug-ac18c206d330aa389c14.json
build/CMakeFiles/MP3Reader.dir/MP3/Decoder.cpp.obj
build/CMakeFiles/MP3Reader.dir/MP3/Decoder.cpp.obj.d
build/MP3/cmake_install.cmake
build/MP3/Makefile
build/MP3/CMakeFiles/CMakeDirectoryInformation.cmake
build/MP3/CMakeFiles/progress.marks
build/MP3/CMakeFiles/MP3.dir/build.make
build/MP3/CMakeFiles/MP3.dir/cmake_clean.cmake
build/MP3/CMakeFiles/MP3.dir/compiler_depend.make
build/MP3/CMakeFiles/MP3.dir/compiler_depend.ts
build/MP3/CMakeFiles/MP3.dir/Decoder.cpp.obj
build/MP3/CMakeFiles/MP3.dir/Decoder.cpp.obj.d
build/MP3/CMakeFiles/MP3.dir/depend.make
build/MP3/CMakeFiles/MP3.dir/DependInfo.cmake
build/MP3/CMakeFiles/MP3.dir/flags.make
build/MP3/CMakeFiles/MP3.dir/Helper.cpp.obj
build/MP3/CMakeFiles/MP3.dir/Helper.cpp.obj.d
build/MP3/CMakeFiles/MP3.dir/progress.make
build/MP3/CMakeFiles/MP3.dir/Frame/Frame.cpp.obj
build/MP3/CMakeFiles/MP3.dir/Frame/Frame.cpp.obj.d
build/MP3/CMakeFiles/MP3.dir/Frame/Header.cpp.obj
build/MP3/CMakeFiles/MP3.dir/Frame/Header.cpp.obj.d
build/MP3/CMakeFiles/MP3.dir/Frame/SideInformation.cpp.obj
build/MP3/CMakeFiles/MP3.dir/Frame/SideInformation.cpp.obj.d
build/Mono_cbr2.mp3
build/.cmake/api/v1/reply/index-2024-07-07T13-54-16-0462.json
build/JointStereoMS.mp3
build/.cmake/api/v1/reply/index-2024-07-08T16-37-18-0566.json
build/CMakeFiles/MP3Reader.dir/compiler_depend.internal
build/MP3/CMakeFiles/MP3.dir/compiler_depend.internal
build/portaudio/CMakeFiles/portaudio.dir/compiler_depend.internal
build/.cmake/api/v1/reply/index-2024-07-10T17-36-36-0521.json
build/.cmake/api/v1/reply/index-2024-07-15T14-06-39-0086.json
build/.cmake/api/v1/reply/index-2024-10-31T14-48-38-0086.json
build/Mono_cbr2_.mp3
build/.cmake/api/v1/reply/index-2024-11-02T13-44-21-0491.json
build/.cmake/api/v1/reply/index-2024-11-02T22-05-58-0431.json
build/.cmake/api/v1/reply/index-2024-11-07T14-17-12-0013.json
build/e1.mp3
build/e2.mp3
build/e3.mp3
build/e4.mp3
build/e5.mp3
build/e6.mp3
build/.cmake/api/v1/reply/index-2024-11-11T14-44-06-0944.json
build/.cmake/api/v1/reply/index-2024-11-13T11-00-43-0920.json
build/build.ninja
build/.cmake/api/v1/reply/cache-v2-2cf22e4f4ec3d6d67da7.json
build/.cmake/api/v1/reply/cmakeFiles-v1-48758f505cc03d7fe6f2.json
build/.cmake/api/v1/reply/codemodel-v2-a6de5fd14eb8349f2991.json
build/.cmake/api/v1/reply/index-2024-11-16T18-34-05-0906.json
build/.cmake/api/v1/reply/target-MP3-Debug-c3e125b1fc9d81881383.json
build/.cmake/api/v1/reply/target-MP3Reader-Debug-3836744b262420edf8cb.json
build/.cmake/api/v1/reply/target-portaudio_static-Debug-75cc939da91d55c1e908.json
build/.cmake/api/v1/reply/target-portaudio-Debug-96db142628bf2f0d4b16.json
build/CMakeFiles/rules.ninja
build/.ninja_deps
build/.ninja_log
build/.cmake/api/v1/reply/cache-v2-77e05e8724de636dad59.json
build/.cmake/api/v1/reply/cmakeFiles-v1-8f0f9c2b071acc4cac34.json
build/.cmake/api/v1/reply/index-2024-11-16T18-42-51-0131.json
build/.cmake/api/v1/reply/index-2024-11-17T04-07-00-0623.json
build/Music.mp3
build/.cmake/api/v1/reply/index-2024-11-17T17-44-56-0592.json
build/.cmake/api/v1/reply/index-2025-01-13T23-29-10-0586.json
build/.cmake/api/v1/reply/index-2025-02-01T21-46-41-0546.json
build/.cmake/api/v1/reply/index-2025-02-01T21-55-51-0969.json
build/2-18 Kokomo.mp3
build/.cmake/api/v1/reply/index-2025-03-10T00-26-27-0607.json
